 <div class="modal-header text-center">
        <h4 class="modal-title w-100 font-weight-bold">Create new API Key</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="grey-text"></i>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. n eros. In sed tincidunt sem. Aliquam vitae finibus lectus. Nunc dolor tortor, commodo ut eros ac, sollicitudin mollis odio.</p>
              <label data-error="wrong" data-success="right" for="form3">Application Name</label>
              <input type="text" id="form3" class="form-control validate" name="appName"> <br />
              <div>
              <input type="button" id="formsd" style="width: 100px; float: right;" class="" name="entityName" value="Create" onclick="AddNewApiKey();">
              <input type="button" id="form5" style="width: 100px; float: right;" class="" name="entityName" value="Cancel" onclick="$('#modalSubscriptionForm').modal('toggle');">
              </div>
            </div>
          </div>